@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'verdana', sans-serif;
}

hr {
    width: 63%;
    align-self: flex-end;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background: url("../Images/dark-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.7;

}

header {
    position: absolute;
    width: 80%;
    bottom: 70%;
    z-index: 1;
}

header nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 4%;
    border-right: 1px solid rgb(182, 174, 174);
    border-radius: 5px;
}

.hero {
    background: url("../Images/codexnew.jpeg");
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    clip-path: circle(180vh at 50% -100vh);
    width: 100%;
    height: 94vh;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 3em 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;

}

.container h1 {
    color: brown;
    font-size: 3em;
    font-weight: 600;
    margin: 0;
}

.container h3 {
    color: rgb(20, 7, 7);
    margin: 0;
    text-align: center;
}

.cdx {
    align-items: center;
    display: flex;
    margin: 0 100px;
    gap: 55px;
}

#wlcm {
    width: 100%;
    font-size: 2em;
    text-align: left;
}

.cdx p {
    width: 61%;
    font-size: 15px;
    line-height: 1.5;
    text-align: right;
    color: rgb(194, 193, 193);
    align-self: end;
}

.cont {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.cont h3 {
    color: rgb(110 90 90);
    margin: 0;
    text-align: center;
}

.image {
    width: 50%;
}

img {
    width: 50%;
    height: auto;
}

img:hover {
    opacity: 0.7;
}

#dev {
    font-size: 1.5em;
}

#web {
    text-align: left;
    align-self: flex-start;
}

#job {
    text-align: right;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 90%;

}

i {
    color: #a9a1a1;
}

i:hover {
    opacity: 0.9;
    color: rgb(40, 243, 226);
    cursor: pointer;

}

h4 {
    color: lightslategray;
    font-size: 25px;
}

.card-row {
    display: flex;
    border: 1px solid lightblue;
    padding: 4em;
    width: 100%;
    gap: 2em;
    border-radius: 10px;
    box-shadow: 1em 1em 1em rgb(39, 31, 31);
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 10px;
    align-items: center;
    border: 1px solid rgb(19, 33, 41);
    background-color: rgb(24, 43, 43);
    box-shadow: 3px 3px 7px;
}

.card img {
    width: 100%;
    border-radius: 9px 9px 0 0;
}

.card div {
    align-self: flex-start;
    display: flex;
    gap: 1em;
    flex-direction: column;
    margin-left: 10px;
    padding: 0 0 1em 5px;
}

.card p {
    font-size: 14px;
    color: aliceblue;
}

.card h5 {
    color: lightskyblue;
    font-size: 18px;
    width: 100%;
}

h5:hover {
    color: darkgray;
}


.card button {
    width: 7rem;
    padding: 10px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    color: aliceblue;
    background-color: rgb(1, 99, 99);
    box-shadow: 2px 2px 8px rgb(40, 65, 68);
}

button:hover {
    opacity: 0.7;
    box-shadow: 2px 5px 10px rgb(68, 67, 67);
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.skill {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 8em;
    gap: 4em;
}

h2 {
    font-size: 2em;
    color: #838999;
    font-family: 'Rubik Vinyl', cursive;

}

.groskil {
    display: flex;
    align-items: center;
}

#h {
    width: 30%;
}

#c {
    width: 38%;
}

#g {
    width: 27%;
}

footer {
    margin-top: 8em;
    border-top: 1px solid white;
    padding: 2em;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    box-shadow: 9px 11px 40px #27292a;
    margin-bottom: 1em;
    border-radius: 5px;
}

.msg {
    background-color: #562313;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    padding: 10px;
    width: 9rem;
    border-radius: 30px;
    cursor: pointer;
    align-self: center;
}

.msg span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.msg span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.msg:hover span {
    padding: 2px;
}

.msg:hover span:after {
    opacity: 1;
    right: 0;
}

@media screen and (max-width: 575px) {
    body {
        background-repeat: no-repeat;
        background-position: center;
    }

    header {
        left: 6%;
        bottom: 88%;
    }

    header nav {
        gap: 2em;
        padding: 1em;
        display: flex;
        flex-direction: row;
        border: none;
    }

    .hero {
        clip-path: none;
        height: 72vh;
    }

    .container {
        width: 71%;
    }

    .container h3 {
        color: rgb(110 90 90);
    }

    .cdx {
        margin: 0 24px;
        gap: 35px;
        align-items: flex-end;
        flex-direction: row-reverse;
    }

    .cdx p {
        width: 100%;
        font-size: 11px;
        color: rgb(189 186 175);
        font-weight: 600;
        text-align: left;
    }

    .cont {
        width: 50%;
    }

    #wlcm {
        font-size: 27px;
        color: aliceblue;
    }

    img {
        width: 100%;
    }

    aside {
        gap: 1em;
    }

    .card-row {
        border: none;
        padding: 2em;
        gap: 1em;
        flex-direction: column;
    }

    h4 {
        font-size: 1.6em;
    }

    .card div {
        padding: 0px 1em 1em 10px;
    }

    .card p {
        font-size: 12px;
        font-weight: 600;
        color: #aeb0b1;
    }

    .skill {
        padding-top: 5em;
        gap: 3em;
    }

    .groskil {
        justify-content: space-evenly;
    }

    footer {
        margin-top: 5em;
        border-top: 3px solid white;
        width: 100%;
        gap: 1em;
        margin-bottom: 2em;
    }

    h2 {
        font-size: 1.5em;
        letter-spacing: 1px;
        color: #6183df;
    }

    #check {
        font-size: 1.2em;
    }

    .msg {
        background-color: black;
    }
}

@media screen and (min-width: 576px) and (max-width: 1200px){
    body {
        background-size: cover;
    }
    
    .cdx p {
        width: 96%;
        font-size: 13px;
    }
    aside {
        width: 96%;
    }
    
    .card-row {
        gap: 1em;
        padding: 1em;
    }
    .card h5 {
        font-size: 11px;
    }
    .card p {
        font-size: 10px;
        color: #5ca394;
    }
    .card button {
        width: 5rem;
        padding: 8px;
        font-size: 10px;
    }
}